/* App.css */

/* Basic styles for the navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #2E72AF;
    padding-left: 50px;
    color: #fff;
  }
  
  /* Styles for the logo */
  .logo img {
    width: 50px; /* Adjust the width of the logo as needed */
  }
  
  /* Styles for the navigation menu */
  .nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .nav-menu ul li:first-child {
    margin-left: 0;
  }
  
  .nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 120px;
  }