.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  
  h1 {
    text-align: center;
    /* Additional styles for the h1 element if needed */
  }

  .custom-file-upload {
    display: inline-block;
    margin-top: 20px; /* Adjust spacing between h1 and button */
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #007bff;
  }
  
  .custom-file-upload:hover {
    background-color: #0056b3;
  }

  .button-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 40px;
  }

  .dropdown-btn {
    display: inline-block;
    margin-top: 20px; /* Adjust spacing between h1 and button */
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #007bff;
  }

  .dropdown-btn:hover {
    background-color: #0056b3;
  }

  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content span {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  .dropdown-content span:hover {
    background-color: #007bff;
    color: #f9f9f9;
  }

  /* Your existing styles */

/* Styles for the modal */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(52,63,62);
  background: linear-gradient(90deg, rgba(52,63,62,1) 0%, rgba(29,51,84,1) 84%);  padding: 20px;
  border-radius: 8px;
  outline: none;
  width: 300px;
  max-width: 80%;
  margin: 0 auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal h2 {
  margin-bottom: 20px;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.custom-file-upload {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #007bff;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 50px;
  color: #007bff;
}